---
import CvSection from '../SectionWrapper.astro';
import ScrollIndicator from '../../ScrollIndicator.astro';
---

<CvSection id="hero" title="" border={false} scroll={false}>
  <div
    class="relative h-screen flex flex-col items-center justify-start md:justify-center text-center mt-[32vh] md:mt-[-10vh] gap-4"
  >
    <h1 class="text-7xl font-logo">Yonderson</h1>
    <p class="font-body text-xl">
      Frontend developer <strong>focused</strong> on modern web design.
    </p>
    <ScrollIndicator />
  </div>
</CvSection>
