---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';

const { about } = cvContent;
---

<CvSection id="about" title="About Jonas Andersson (me)" border={true} scroll={false}>
  <div class="flex flex-col md:flex-row items-center gap-4 md:gap-8 max-w-full">
    <img
      src="/publicAssets/profile.png"
      alt="Portrait of Jonas Andersson"
      class="md:rounded-xl rounded-full w-32 h-32 md:w-40 md:h-40 object-cover object-top border-gray-400 border-2"
    />
    <p class="font-body text-lg text-justify">
      {about}
    </p>
  </div>
</CvSection>
