---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';

const { activeSkills } = cvContent;
---

<CvSection id="active-skills" title="Active Skills" border={true} scroll={true}>
  <p class="font-body text-lg text-justify">
    I am currently focused on these technologies. I am actively using them in my current projects
    and am always looking to deepen my knowledge and skills in these areas.
  </p>
  <ul class="font-body text-lg text-left space-y-6">
    {
      activeSkills.map((skillsList) => (
        <li>
          <h3 class="text-2xl font-logo mb-2">{skillsList.area}</h3>
          <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2">
            {skillsList.skills.map((skill) => (
              <li class=" flex justify-center whitespace-nowrap bg-gray-100 px-3 py-1 rounded-full text-sm">
                {skill}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>
</CvSection>
