---
import { cvContent } from '../../../Content/texts';
import CvSection from '../SectionWrapper.astro';

const { dormantSkills } = cvContent;
---

<CvSection id="experience-with" title="Experience with" border={true} scroll={true}>
  <p class="font-body text-lg text-justify">
   I have experience with these technologies, but they are not my primary focus at the moment. I am open to revisiting them for a refresh if needed.
  </p>
    <ul class="font-body text-lg text-justify">
        {dormantSkills.map((skillsList) => {
          return (
            <h3 class="text-2xl font-logo">{skillsList.area}</h3>
            <ul class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-2">
              {skillsList.skills.map((skill) => {
                return  <li class=" flex justify-center whitespace-nowrap bg-skillBg px-3 py-1 rounded-full text-sm">
                  {skill}
                </li>;
              })}
            </ul>
          );
        })}
      </ul>
</CvSection>
