---
import CvSection from '../SectionWrapper.astro';
---

<CvSection id="hero" title="" border={false} scroll={false}>
  <div
    class="h-screen flex flex-col items-center justify-start md:justify-center text-center mt-[25vh] md:mt-[-20vh] gap-4"
  >
    <h1 class="text-7xl font-logo">Yonderson</h1>
    <p class="font-body text-xl">
      Frontend developer <strong>focused</strong> on my web design.
    </p>
  </div>
</CvSection>
