---
import CvSection from '../SectionWrapper.astro';
---

<CvSection id="hero" title="" border={false} scroll={false}>
  <h1 class="text-7xl font-logo">Yonderson</h1>
  <p class="font-body text-xl">
    Frontend developer <strong>focused</strong> on modern web design.
  </p>
</CvSection>
