---
import { cvContent } from '../../Content/texts';
import CvSection from './SectionWrapper.astro';

const { profileText } = cvContent;
---

<CvSection id="profile" title="Profile">
  <p class="font-body text-lg text-justify">{profileText}</p>
</CvSection>
