---
import ProfileSection from './Sections/ProfileSection.astro';
import HeroSection from './Sections/HeroSection.astro';
import AboutSection from './Sections/AboutSection.astro';
import ActiveSkillsSection from './Sections/ActiveSkillsSection.astro';
import ContactSection from './Sections/ContactSection.astro';
import EducationSection from './Sections/EducationSection.astro';
import ExperienceWithSection from './Sections/ExperienceWithSection.astro';
import WorkExperienceSection from './Sections/WorkExperienceSection.astro';
---

<div id="container" class="snap-y snap-mandatory overflow-y-scroll h-screen">
  <main>
    <HeroSection />

    <ProfileSection />

    <ActiveSkillsSection />

    <ExperienceWithSection />

    <WorkExperienceSection />

    <EducationSection />

    <AboutSection />

    <ContactSection />
  </main>
</div>
