---
import ProfileSection from './SectionLayouts/ProfileSection.astro';
import HeroSection from './SectionLayouts/HeroSection.astro';
import AboutSection from './SectionLayouts//AboutSection.astro';
import ActiveSkillsSection from './SectionLayouts/ActiveSkillsSection.astro';
import ContactSection from './SectionLayouts/ContactSection.astro';
import EducationSection from './SectionLayouts/EducationSection.astro';
import ExperienceWithSection from './SectionLayouts/ExperienceWithSection.astro';
import WorkExperienceSection from './SectionLayouts/WorkExperienceSection.astro';
import WelcomeSection from './SectionLayouts/WelcomeSection.astro';
---

<div id="container" class="snap-y snap-mandatory overflow-y-scroll h-screen">
  <main class="bg-bg text-fg">
    <HeroSection />

    <WelcomeSection />

    <ProfileSection />

    <ActiveSkillsSection />

    <ExperienceWithSection />

    <WorkExperienceSection />

    <EducationSection />

    <AboutSection />

    <ContactSection />
  </main>
</div>
