<footer class="fixed bottom-0 w-full">
  <div
    class="flex flex-col items-center justify-center bg-bg text-fg hover:text-bg py-2 px-2 border-t-2 border-border hover:bg-fg transition-colors duration-300"
  >
    <p class="text-sm">&copy; 2025 Yonderson. All rights reserved.</p>
  </div>
</footer>
