<footer>
  <div
    class="flex flex-col items-center justify-center bg-bg text-fg hover:text-bg p-4 border-t-2 border-border hover:bg-fg transition-colors duration-300"
  >
    <p>&copy; 2025 Yonderson. All rights reserved.</p>
  </div>
</footer>
