---
import ThemeToggle from './ThemeToggle.svelte';
import HeaderMenu from './HeaderMenu.svelte';
---

<header class="fixed top-0 z-50 w-full">
  <div
    class="flex items-center justify-between bg-bg text-fg hover:text-bg py-1 px-5 border-b-2 border-border hover:bg-fg transition-colors duration-300"
  >
    <div>
      <HeaderMenu client:load />
    </div>
    <div class="flex items-center">
      <ThemeToggle client:load />
    </div>
  </div>
</header>
