---
import ThemeToggle from './ThemeToggle.svelte';
---

<header>
  <div
    class="flex items-center justify-between bg-bg text-fg hover:text-bg p-4 border-b-2 border-border hover:bg-fg transition-colors duration-300"
  >
    <div>
      <p class="text-md">MENU</p>
    </div>
    <div class="flex items-center">
      <ThemeToggle client:load />
    </div>
  </div>
</header>
