---

---

<div id="container" class="size-full flex flex-row justify-center items-center">
  <main>
    <section id="hero" class="text-center">
      <h1 class="text-5xl font-logo">Yonderson</h1>
      <p class="font-body text-base">Frontend developer focused on modern web design.</p>
    </section>
  </main>
</div>
